
body{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.header{
    height: 64px;
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #B02AFF;
    padding: 0px;
    margin-bottom: 0px;
}

.header_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 17px;
}

ul{
    list-style-type: none;
}

li{
    height: 36px;
    background-color: #2AEAFF;
    margin-left: 17px;
}

.nav_link_01{
    width: 111px;
}

.nav_link_02{
    width: 86px;
}

.nav_link_03{
    width: 96px;
}

.nav_link_04{
    width: 40px;
}

.content{
    height: 507px;
    display: flex;
}

.main{
    width: 507px;
    background-color: #FFD62A
}

.sidebar{
    width: 253px;
    background-color: #51D400
}