* { 
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    height: 2%;
    width: 100%;
    background: #F0F0F0;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    border-bottom: 2px solid rgb(110, 142, 170);
}

nav > menu {
    display: flex;
    padding: 0px;
}

menu > div {
    margin: 0.1rem 0.2rem;
}

container {
    width: 100%;
    height: 6%;
    display: flex;
    color: #C6C6C6;
}

container > div:nth-child(1) {
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

container > div:nth-child(2) {
    width: 4%;
    display: flex;
    flex-direction: column;
}

container > div > div:nth-child(1) {
    height: 1rem;
    background-image: url("upvote.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.2rem 0;
}

container > div > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

container > div > div:nth-child(3) {
    height: 1rem;
    background-image: url("downvote.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.2rem 0;
}