body {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,rgb(182, 178, 178), white 50%, rgb(182, 178, 178) );
}

container {
    position: absolute;
    top: 100px;
}

main {
    width: 800px;
    height: 360px;
    display: flex;
    box-shadow: 0px 2px 4px 4px rgba(90, 90, 90, 0.6);
    border-radius: 4px;
}

.side {
    width: 80px;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    line-height: 360px;
}

.button {
    width: 100%;
    height: 100%;
    background-image: url("left_arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.right {
    transform: rotate(180deg);
}

.button_hover {
    background: rgb(224, 223, 223);
}

.side:active {
    background: rgb(180, 179, 179);
}

.inactive {
    filter:brightness(2);
}

.image {
    max-width: 640px;
    flex-grow: 1;
    /* background-image: url("../images/helena-yankovska-416906.jpg"); */
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

div.description {
    width: 100%;
    height: 90px;
    padding: 0px 15px;
    background: black;
    opacity: 0.7;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
}

h3.description {
    margin: 0.6em 0em;
    color: white;
    font-size: 20px;
}

p.description {
    margin: 0px;
    color: rgb(182, 178, 178);
    font-size: 13px;
}

footer {
    display: flex;
    width: 800px;
    height: 140px;
    display: flex;
    justify-content: center;
}

.small {
    width: 110px;
    height: 80px;
    margin: 25px 4px;
    border: 5px solid #DCDCDC;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 2px rgba(90, 90, 90, 0.6);
    background-size: cover;
}

.before_select {
    box-shadow: 0px 3px 4px 2px rgba(90, 90, 90, 0.6);
}
