<h1 class="header">
  {{ title }}
</h1>
<hr>

<button class="header" (click)="displayTodos()">What to do</button>

<label>New todo:
  <input type="text" [(ngModel)]="newTodo" ng-keyup="$event.charCode === 13 ? addTodo()">
</label>

<button (click)="addTodo()">Add todo</button>

<div *ngIf="display===true"> 
  <div class=todos  *ngIf="todos.length > 0; else emptyList">
    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" class={{todo.id}} (click)="deleteTodo($event)">
        {{todo.todo}}
      </li>
    </ul>
  </div>
</div>
<ng-template #emptyList>
  There is nothing to do
</ng-template>
